{% load i18n  %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}{{ SITE_NAME }}{% endblock title%}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


        <link href="{{ STATIC_URL }}c3.min.css" rel="stylesheet" type="text/css" />

{#    <!-- Bootstrap CSS-->#}
    <link href="{{ STATIC_URL }}bootstrap.min.css" rel="stylesheet" media="all">

{#    <!-- Main CSS-->#}
    <link href="{{ STATIC_URL }}theme.css" rel="stylesheet" media="all">





  </head>
  <body>
    {% block header %}

    {% endblock header %}

    {% block body %}
    {% endblock body %}

    {% block footer %}
    {% endblock footer %}



{#    <link href="{{ STATIC_URL }}lcmlutils/css/treetable/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css" />#}
{#    <script src="{{ STATIC_URL }}lcmlutils/js/lcmlExportXml.js"></script>#}
        <script src="{{ STATIC_URL }}apps.js"></script>
        <script src="{{ STATIC_URL }}dashboard.controller.js"></script>
        <script src="{{ STATIC_URL }}services.js"></script>

        <script src="{{ STATIC_URL }}d3.min.js"></script>
        <script src="{{ STATIC_URL }}c3.min.js"></script>
        <script src="{{ STATIC_URL }}c3charts.js"></script>

    {% block extra_script %}

    {% endblock extra_script %}


  </body>
</html>
