{% extends 'base.html' %}
{% load i18n %}
  <head>
    <title>{% block title %}{{ SITE_NAME }}{% endblock title%}</title>

  </head>
  <body>

    {% block header %}
    {% endblock header %}

    {% block body %}
        <div ng-app="dashboardApp" ng-controller="DashboardController">

            renew trend
        <div id="renewal_trend_line_chart" style="height: 300px; width: 300px;"></div>
        subscription trend
        <div id="subscription_trend_based_barchart" style="height: 300px; width: 300px;"></div>
        channel identification
        <div id="channel_identification_bar_chart" style="height: 500px; width: 500px;"></div>
        average membership duration
        <div id="average_membership_duration_donut_chart" style="height: 300px; width: 300px;"></div>

        </div>
    {% endblock body %}

    {% block footer %}
    {% endblock footer %}



{#    <link href="{{ STATIC_URL }}lcmlutils/css/treetable/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css" />#}
{#    <script src="{{ STATIC_URL }}lcmlutils/js/lcmlExportXml.js"></script>#}

    {% block extra_script %}

    {% endblock extra_script %}


  </body>
</html>
