{% extends 'base.html' %}
{% load i18n %}
  <head>
    <title>{% block title %}{{ SITE_NAME }}{% endblock title%}</title>

  </head>
  <body>

    {% block header %}
    {% endblock header %}

    {% block body %}
        this is dashboard body
        <div ng-app="dashboardApp" ng-controller="DashboardController">

        [{printme}]

        </div>
    {% endblock body %}

    {% block footer %}
    {% endblock footer %}



{#    <link href="{{ STATIC_URL }}lcmlutils/css/treetable/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css" />#}
{#    <script src="{{ STATIC_URL }}lcmlutils/js/lcmlExportXml.js"></script>#}

    {% block extra_script %}

    {% endblock extra_script %}


  </body>
</html>
